
.logo {


}

#banniere{

}

.nav {


}
.contenu{
	margin-top:5%;
}

.body {
	margin-top:50%;
	background-color:yellow;
}

.body p {
	

}

.body h1 {


}


.body h2 {


}

.gallery{
	margin-top:20%;

}



.footer p  {


}



